.App {
  text-align: center;
  background-color: #282c34;
  color: white;
}



.List {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header {
  
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}





.post-content {
   
  width: 100%;
    
    flex: 0 0 auto;         /* ADD */
    display: flex; 
}

.card-header {
  background-color: #606bdf;
  bg-primary-text: white;
} 

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.on {
  color: #606bdf;
}
.off {
  color: #ccc;
}

button-one {
 
 
  cursor: pointer;
}

.contact-card {
  background-color: #606bdf;
}

.card {
  background-color: #606bdf;
width: 90vw;
}